@media screen and (max-width: 375px) {
    main{
        width: 90%;
    }
    .creditos{
        z-index: 1;
        width: 76%;
        height: 100%;
        position: absolute;
        left: -10px;
        border-radius: 0 ;
        display: none;
    }
    
    .menu-controls span{
        font-size: 40px;
    }
    .boll{
        justify-content: end;
    }
    
}